body {
    /*background: #333333;*/
    /*color: white;*/
}

input, input:focus {
    color: white !important;
}

#authDiv {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s;
}

#authDiv {
    width: 100%;
    height: 100%;
    background: #333333;
    /*display: none;*/
    color: white;
}

.socialLabel {
    /*line-height: 35px;*/
    float: left;
}

#otherlabel {
    padding: 0px 5px 0px 6px;
}

#othertext {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

.well {
  min-height: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well {
    color: #333333;
    word-wrap: break-word;
}

.rightBorder {
    border-right: 1px solid #ccc;
}

.spinner {
  /*margin: 100px auto 0;*/
  margin-top: 20px;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  /*background-color: #333;*/
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}